Streamlit
Plotly
Pandas
NumPy
NetworkX
Pygwalker
Requests
python-louvain
transformers
scikit-learn
sciPy
joblib
pygithub
kubernetes
docker
torch
psycopg2-binary
SQLAlchemy
python-dateutil
python-dotenv
black
pylint
graphviz
time
